/*--------------------------------------------------------------
# auth0
--------------------------------------------------------------*/

.auth0-lock.auth0-lock .auth0-lock-input-wrap .auth0-lock-input {
    float: none;
    margin: 0;
}

.auth0-lock.auth0-lock .auth0-lock-overlay {
    background: rgba(10, 10, 10, 0.85);
}

.auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-widget {
    box-shadow: 15px 0 40px rgba( 10, 10, 10, 0.35);
}

.auth0-lock.auth0-lock .auth0-lock-widget {
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.auth0-lock-submit {
    background-color: colorSecondary !important;
}
