

/*--------------------------------
 MESSY JIM/KIM STUFF

--------------------------------*/
@lost flexbox flex;

a
    text-decoration: none
    


.breadcrumb
    padding 10px

.section-card
    background: colorPrimaryLight;
    border-radius 6px
    box-shadow: 5px 5px 10px rgba(30, 33, 94, 0.15)
    padding: 1rem 1rem 1rem 1rem
    margin-bottom: 40px
    position: relative
    &-title
        color white
        font-size: 135%

    &.current-path
        padding-bottom: 90px

.completion-text
    text-align: right
    color darken(colorTertiary, 20)
    font-size: 120%
    margin-top 1em

.completion-text-big
    position: absolute
    font-size 250%
    color white
    top 20px
    right 20px

.section-card-header
    background: darken(colorTertiary, 20)
    padding: 2rem 2rem 2rem 2rem
    border-radius: 6px 6px 0 0
    width: 100%
    height: 120px
    position: absolute
    left: 0
    top: 0

.section-card-caption
    font-size: 0.8rem
    font-weight: bold
    color: rgba(255,255,255,0.8)

.section-card-button
    border none
    min-width: 0
    position: absolute    
    top 24px
    right 20px
    background: none
    box-shadow: none
    border 2px solid white
    width 120px

.section-card-content
    margin-top 7em

.current-path-view-button
    border none
    min-width: 0
    position: absolute    
    top 24px
    right 20px
    background: none
    box-shadow: none
    border 2px solid white
    width 120px

.current-path-continue-button
    position: absolute
    background: colorSecondary
    i
        background-color: darken(colorSecondary, 20)
    width 150px
    bottom 1em
    left 50%
    transform: translateX(-50%)

.course-card.connected
    &:after
        content: "";
        position: absolute;
        display: block;
        bottom: -60px;
        left: 50%;
        margin-left: -5px;
        width: 10px;
        height: 83px;
        background: colorSecondaryLight
        border-radius: 5px;
    &:last-child:after
        height 0px

.linkActive
    li
        color colorSecondary !important   
    font-weight: bold

.panel-menu
    li
        i
            color white !important         
.side-panel li:hover
        background colorSecondaryLight

.tabButton
    background: colorPrimaryLight
    border-radius:6px 6px 0 0;
    outline: 0 !important
    color: colorPrimaryDark// colorTextInverse
    margin-right:5px
    padding 15px
    border none
    line-height: 5px
    box-shadow: none

.tabButton:last-of-type {
    margin-right:0;
}
.activeTabCaption
    background darkslateblue
    color: colorTextInverse;

.dashboard-path-list,
.lesson-list {
    background-color:colorPrimaryLight;
    border-radius: 0 0 6px 6px;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    margin-bottom:20px;
    padding: spaceMedium;
}

.lesson-list {
    border-radius:6px;
}


/* ------------ */
.lesson,
.path
    background colorTextInverse
    border-radius 6px
    box-shadow: 5px 5px 10px rgba(30, 33, 94, 0.15)
    display: flex
    flex-direction: column
    padding: 4rem 2rem 2rem 2rem
    position relative
    margin-bottom: 20px

.lesson-image,
.path-image
    padding: 470px 2rem 2rem 2rem

.lesson-header,
.path-header
    background: colorSecondary
    border-radius: 6px 6px 0 0
    width: 100%
    height: 50px
    position: absolute
    left: 0
    top: 0

.lesson-header-image,
.path-header-image
    background: url("http://lorempixel.com/1900/1200/technics/")
    background-size: cover
    height: 450px

.lesson-header-image-color,
.lesson-header-image-color2,
.path-header-image-color
    background alpha(darkslateblue, 0.75)
    height: 450px
    text-align: center
    display: flex
    align-items: center
    justify-content: center

.lesson-header-image-color2,
.path-header-image-color2
    background alpha(colorSecondary, 0.75)

.lesson-header-path-name,
.path-header-path-name
    font-size 200%
    color white

// .backLinkDiv
//     position: absolute
//     top 50px
//     left 0
//     width: 100

// .backLink
//     color colorPrimary
//     padding 0px
//     margin: 0px
//     font-weight: bold
//     font-size: 120%
//     background none
//     box-shadow: none
//     min-width: 0
//     outline: 0
//     &:hover
//         box-shadow: none

.lesson-caption-small {
    font-size: 0.8rem
    font-weight: 600
    color: #afb9bb
}

.lesson-caption-big,
.path-caption-big {
    font-size: 1.1rem
    font-weight: 600
    margin: 0
}

.lesson-text {
    margin-top 10px
    color colorPrimary
    flex 1
}

.lesson-icon {
    color: colorTextInverse
    float: right
    margin-top 10px
    margin-right: 10px
    display:block;
    font-family: FontAwesome;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    height: 50px;
    text-decoration:none;
    width: auto;
    &:last-child {
        margin-left 10px
        margin-right: 20px  
        float left
    }
}

.lesson-button
    background: colorPrimaryLight
    border-radius: 20px
    color: colorPrimary
    font-size: 0.8rem
    font-weight: bold
    height: 35px
    line-height: 5px
    min-width: 100px
    width: 25%
    box-shadow: none

.tabbed-content {
    padding:2rem;
}

.tabs {
    display: flex;
}

.metrics
    display: flex
    flex-direction: column
    padding: 2rem;
    position relative
    margin-bottom: 40px



// .course-description
//     //font-size 80%
    
    
// .lesson-list
//     margin-top 30px
//     margin-bottom 20px
//     lost-center: widthMax
