/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/

table {
    width: 100%;
}
tr {
    border-bottom: 1px solid #f6f8f8;
}

tr.additional {
    /* background-color: #f6f8f8; */
}

.schedule td {
    padding: 1rem 0.5rem;
}


.objectives tr {
    
}

.objectives th,
.objectives td {
    font-size: 0.8rem;
    padding: 0.8rem 0.5rem;
    vertical-align: middle;
    border-bottom: 1px solid #f6f8f8;
}

.objectives th {
    font-size: 0.75rem;
    line-height: 1.1;
    vertical-align: bottom;
}
.objectives td {

}

th.question,
td.question {
    text-align: left;
    width: 50%;
}

th.radio,
td.radio {
    text-align: center;
    width: 10%;
}

td.slider {
    width: 60%;
}
td.range {
    width: 30%;
}

a.add, a.remove {
    background-color: colorPrimary;
    border-radius: 50%;
    color: colorTextInverse;
    display: flex;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 2rem;
}

a.remove {
    background-color: colorPrimaryDark;
}

a.add i, a.remove i {
    align-self: center;
    margin: 0 auto;
}

.ui-slider .ui-slider-handle {
    background-color: colorTextInverse;
    border-radius: 50% !important;
}

.ui-widget.ui-widget-content {
    background-color: #f6f8f8;
    border:    1px solid #f6f8f8;
}
.ui-widget-header {
    background-color: colorPrimaryLight ;
}
