/* Colors */

colorBackgroundBase = white

colorPrimary = darkslateblue
colorPrimaryLight = #e7eaf6
colorPrimaryDark = #372e6b

colorSecondary = #3cc788
colorSecondaryLight = #c9f0db
colorSecondaryDark = #00bc67

colorTertiary = deepskyblue

colorQuarternary = #ffea7e

colorTextInverse = white

colorPlaceholder = #afb9bb

colorLink = colorPrimary
colorLinkHover = colorSecondary

/* Sizing */
widthMax = 1380px

spaceSmall = 10px
spaceMedium = 20px 
spaceLarge = 40px


boxShadowBase = 5px 5px 10px rgba(30, 33, 94, 0.15)
boxShadowMinimal = 0px -2px 5px rgba(30, 33, 94, 0.15)