
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-background ?= #fff
$color-text ?= rgba(0,0,0,0.64)
$color-default ?= rgba(0,0,0,0.64)
$color-initial ?= #fff
$color-primary ?= #E91E63
$color-secondary ?= #606c76
$color-tertiary ?= #f4f5f6
$color-quaternary ?= #d1d1d1
$color-quinary ?= #e1e1e1
