// Main colors
$primaryColor ?= #E91E63
$accentColor ?= #88D363
$backgroundColor ?= white
$textColor ?= rgba(0,0,0,0.65)
$textColorInverse ?= white

// Global defaults
$borderColor ?= rgba(0,0,0,0.27)
$borderWidth ?= 1px
$borderRadius ?= 6px
$elementHeight ?= 3.8rem
$lineHeight ?= 1.6
$fontSize ?= 1.6rem // ?= 16px
$fontWeight ?= 400
// Use system fonts
$fontFamily ?= -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif

// .container
$containerWidth ?= 1152px
$containerGap ?= 2rem

// Headings
$headingScale ?= 1.333 // Check http://type-scale.com/ for more type scales
$headingLetterSpacing ?= -.2rem
$headingFontWeight ?= $fontWeight
$headingMarginBottom ?= 2rem

// Links
$linkColor ?= $primaryColor
$linkColorHover ?= $accentColor
$linkFontSize ?= $fontSize

// Buttons / Input Buttons
$buttonFontWeight ?= 700
$buttonFontSize ?= $fontSize
$buttonColor ?= $accentColor
$buttonTextColor ?= $textColorInverse
$buttonHoverColor ?= $primaryColor
$buttonHoverBorderColor ?= $buttonHoverColor
$buttonBorderColor ?= $buttonColor
$buttonHeight ?= $elementHeight
$buttonBorderWidth ?= $borderWidth
$buttonBorderRadius ?= $borderRadius

// Labels / Table Legends
$labelFontSize ?= $fontSize

// Form Inputs / Text Fields
$inputFontSize ?= $fontSize
$inputFocusColor ?= $primaryColor
$inputHeight ?= $elementHeight
$inputBorderColor ?= $borderColor
$inputBorderRadius ?= $borderRadius
$inputBorderWidth ?= $borderWidth

// Tables
$tableBorderWidth ?= $borderWidth
$tableBorderColor ?= $borderColor
$tableFontSize ?= $fontSize

// Lists
$listFontSize ?= $fontSize

// Blockquotes
$blockquoteBorderColor ?= #ddd

// Codeblocks
$codeBlockColor ?= #ddd
$codeBlockBorderColor ?= $primaryColor
$hrColor ?= rgba(0,0,0,0.1)