/* Colors */

colorBackgroundBase = white
colorPrimary = #007399//darkslateblue
colorPrimaryLight = #e7eaf6
colorPrimaryDark = #372e6b
colorSecondary = #DB684E
colorSecondaryLight = #c9f0db
colorSecondaryDark = #00bc67
colorTertiary = #5D35AC
colorQuarternary = #ffea7e
colorTextInverse = white
colorPlaceholder = #afb9bb

colorLink = colorPrimary
colorLinkHover = colorSecondary

boxShadowBase = 5px 5px 10px rgba(30, 33, 94, 0.15)
boxShadowMinimal = 0px -2px 5px rgba(30, 33, 94, 0.15)

$color-background = #fff
// $color-initial = #f00
$color-primary = colorPrimary//darkslateblue
// $color-text = rgba(0,0,0,0.74)
// $color-secondary = #606c76
// $color-tertiary = #f4f5f6
// $color-quaternary = #d1d1d1
// $color-quinary = #e1e1e1
$widthMax = 1380px
$page-hero-height = 270px

$border-radius = 6px