// You can easily overwrite the default variables like this:
$primaryColorLight = #e7eaf6
$primaryColor = #007399
$accentColor  = #DB684E

$fontFamily = 'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
//$fontFamily = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
//$headingLetterSpacing = .305rem
$buttonFontWeight = 400
$headingFontWeight = 400
$fontWeight = 400
$fontSize = 1.8rem
$textColor = rgba(0,0,0, 0.77)
$lineHeight = 1.7
$linkLetterSpacing = 0.2rem
$containerGap = 20px
$containerWidth = "calc(1220px + %s * 2)" % ($containerGap)
// (Check /sutairu/base/_defaultVars.styl and /atomiku/_defaultVars for all default variables.)

$pageContentColor = #e5e5e5
$page-hero-height = 270px
$page-hero-height--full = 470px

@import './sutairu'
@import './atomiku'
@import './iconFont'
@import './modules'
@import './inlineAssets'

.bg-accent--dark
  background: darken($accentColor, 15)

.boxshadow-underline
  box-shadow 0px 1px $accentColor

// Compounds
.button--default
  @extend .border-pill
  @extend .bg-transparent
  @extend .border-text
  @extend .c-text
  @extend .c-hover-white
  @extend .bg-hover-primary
  @extend .border-hover-primary
  
.button--primary
  @extend .border-pill
  @extend .bg-primary
  @extend .border-primary
  @extend .bg-hover-accent
  @extend .border-hover-accent

.button--accent
  @extend .border-pill
  @extend .c-white
  @extend .border-accent
  @extend .bg-hover-primary
  @extend .border-hover-primary

.button--primary-clear
  @extend .border-pill
  @extend .c-primary
  @extend .border-primary
  @extend .bg-transparent
  @extend .bg-hover-accent
  @extend .c-hover-white
  @extend .border-hover-accent

.button--accent-clear
  @extend .border-pill
  @extend .c-accent
  @extend .border-accent
  @extend .bg-transparent
  @extend .bg-hover-black

.button--white-clear
  @extend .border-pill
  @extend .c-white
  @extend .border-white
  @extend .bg-transparent
  @extend .bg-hover-accent
  @extend .border-hover-accent

// Needed to for Icon Font
i::before
  font-family: 'icomoon'

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Sticky Footer & page content background color */

.App
  display flex
  min-height: 100vh;
  flex-direction: column;

.page-content
  background: $pageContentColor
  flex 1

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Header */

.logo--small
  width 112px
  height 22px

.avatar
  width 50px
  height 50px
  vertical-align: middle
  transition transform 0.3s
  &:hover
    transform scale(1.2)

.menu
  right $containerGap
  top 77px
  z-index 999

.menu-card
  position: relative
  &:before
    pointer-events:none
    content: "";
    position: absolute;
    right: 15px;
    top: 9px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 10px solid $accentColor
  box-shadow: 0px 0px 1px rgba(0,0,0,0.2)

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Home (Landing Page) */

.home-hero
  background-position-y: 50%
  height 600px
  background-attachment: fixed

.home-img__loading-spinner
  width 536px
  height 350px
  border-radius: 6px
 

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.grid-half
  width 50%
  flex 1 50%
  padding 10px
  margin-top 30px
  margin-bottom 50px

.col-quarter
  flex 0 0 96%
  margin-bottom 30px

@media (min-width: 700px)
  .col-quarter
    flex 0 0 48%

//@media (min-width: 900px)
//  .col-quarter
//    flex 0 0 32%
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Dashboard: InProgressTab, BookmarkedTab, CompletedTab */

//.completed-tab, 
//.bookmarked-tab,
//.inprogress-tab
//  .link-card
//    lost-column 1/3 3

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Library */

.image-link-card__image
  background-size: cover
  height 200px
  border-radius: 6px 6px 0 0;
  opacity 0.85
  transition opacity 0.5s ease-out
  &:hover
    opacity 1

.image-link-card__loading-spinner
  height 200px
  border-radius: 6px 6px 0 0;
  width 100%

.topics-dropdown:before
  pointer-events:none
  content: "";
  position: absolute;
  right: 10px;
  top: 15px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-top: 10px solid $accentColor

.topics-dropdown:after
  pointer-events:none
  content: ""
  position: absolute
  right: 10px
  top: 12px
  width: 0
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-top: 10px solid white

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Auth0LockWidget */

.auth0-lock-header-logo
  width 100% !important

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* App.jsx page-transition */
.page-transition-enter
  transform: translateX(100%)

.page-transition-enter.page-transition-enter-active
  transform: translateX(0%)
  transition: transform 200ms

.page-transition-leave
  position absolute
  width 100%
  top 0
  transform: translateX(0)

.page-transition-leave.page-transition-leave-active
  transform: translateX(-100%)
  transition: transform 200ms
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.tag
  padding 5px 15px
  margin 2px
  white-space: nowrap
  display: inline-block
.preview
  width 100%
  height 260px 

.preview2
  width auto
  height 100%

.dot:before
  content: ""
  position: absolute;
  border-radius: 50%
  left: -77px;
  top: 5px;
  width: 50px; 
  height: 50px;
  color white
  background $accentColor

.dot:after
  content: "\f05d"
  font-family: 'icomoon'
  font-size 39px
  position: absolute;
  left: -109px;
  top: 0px;
  color white

.dot--big.dot--trophy:after
  content: "\f091 "
  font-family: 'icomoon'
  font-size 39px
  position: absolute;
  left: -71px;
  top: 4px;
  color white

.dot--big:before
  content: "";
  position: absolute;
  border-radius: 50%
  left: -84px;
  top: 1px;
  width: 64px; 
  height: 64px;
  background $primaryColor

.dot--empty:after
  content: "";
  position: absolute;
  border-radius: 50%
  left: -72px;
  top: 10px;
  width: 40px; 
  height: 40px;
  background $primaryColorLight

.dot--big.dot--empty:after
  content: "";
  position: absolute;
  border-radius: 50%
  left: -79px;
  top: 6px;
  width: 54px; 
  height: 54px;
  background $primaryColorLight
  
.dot--empty.dot--displace:after
  left -112px

.dot--displace:before
  left -117px

.path-node
  margin-top 50px
  width 85px

.path-node__connection
  background alpha($primaryColor,0.3)
  margin-right -13px
  width 5px

.collapsible
  opacity 1

.collapsed
  opacity 0
  max-height 0 !important
  pointer-events: none

.mcard__icon
  transition: transform 0.5s

.rotated
  transform: rotate(90deg)

.path-marker
  padding 15px 25px

.path-marker__start-icon
  top 6px
  left -66px
  z-index: 100

.path-end.dot--big:before
  left -6px
  top -1px

.path-end.dot--big:after
  left -1px
  top 4px

.mcard__content-left
  flex-basis: 50%

.no-milestone.dot:before
  left -77px
  
.no-milestone.dot:after  
  content: "\f05d"
  font-family: 'icomoon'
  font-size 39px
  position: absolute;
  left: -69px;
  color white

.no-milestone.dot.dot--empty:after
  content: ""
  left -72px
  
.page-hero__offset
  margin-top: -200px !important

.lcard__checkmark
  right 20px
  top 3px

.mcard__checkmark
  right 20px
  top 5px

.image-link-card__checkmark
  right 20px
  top 10px

.mcard__flag
  top 11px
  left -70px

.logo
  transition margin 0.5s

.logo--displaced
  margin-left 100px

.navbar
  top 0
  z-index: 999
  .card
    z-index 9999 !important

.navbar.fixed
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1)
  .card
    box-shadow: -1px 1px 1px rgba(0,0,0,0.1)

.back-button
  text-align: center
  position: absolute
  border none
  background: transparent
  padding 30px 5px
  margin 0
  left 50%
  top 50%
  transform: translate(-50%, -50%)
  width 60px
  z-index: 999
  color white
  
  transition background 0.5s
  &:hover
    background: transparent
    color $accentColor

  i
    transition color 0.5s
    position: absolute
    top -2px
    left 4px

.side-drawer
  position: fixed
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1)
  z-index: 777
  background: $primaryColor
  transform: translate(-100px)
  opacity: 0.3
  height 100vh
  width 100px
  transition: all 0.5s
  &:hover
    opacity 1
    transform: translate(0)
    .side-drawer__icon
      transition: opacity 0.5s
      opacity: 0

.side-drawer__icon
  position: absolute
  top 50%
  right -90px
  transform: translateY(-50%)
  padding 43px 30px

.auth0-lock-header-logo
  width 80% !important

.auth0-lock-widget
  width 400px !important

.loading__placeholder
  width 522px
  height 350px

.checkbox
  width: 38px
  height: 38px
  margin: auto

  input
    display: none
    &:checked + .checkbox__box
      &:after
        opacity: 1
        
  .checkbox__box
    width: 100%
    height: 100%
    border: 1px solid $inputBorderColor
    border-radius: 6px
    position: relative
    overflow: hidden
    cursor: pointer
    &:hover
      border-color $primaryColor
    &:after
      opacity: 0
      width: 50%
      height: 20%
      content: ''
      position: absolute
      border-left: 3.5px solid
      border-bottom: 3.5px solid
      border-color: $accentColor
      transform: rotate(-45deg) translate3d(0,0,0)
      transform-origin: center center
      transition: all 0.2s
      left: 0
      right: 0
      top: 0
      bottom: 5%
      margin: auto

.progress, 
.progress__fill,
.progress__mask
  height: 15px 

.image-link-card__img
  min-height 120px
