/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    min-height: 6rem;
}

.footer{
    background: white;
    padding-bottom: 0;
}

.footer-content {
    color: colorPrimary;
    text-align: center;
}

.contact {
    padding: 2rem;
    text-align: left;
}

.contact h4 {
    margin: 0;
}
.contact a {
    text-decoration: none;
    color: colorPrimary //#264880;
}

a i.fa-github,
a i.fa-envelope {
    color: colorPrimary //#264880;
    font-size: 1.8rem;
}

a i.fa-envelope {
    font-size: 1.6rem;
}
