/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
    background-color: colorPrimary;
    background-color: colorTextInverse;
    box-shadow: 0 5px 10px rgba(30,33,94,0.15);
    // background-image: url('/assets/img/devgaida.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    color: colorTextInverse;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 999;
}

a.header-logo {
    background-image: url('/assets/img/devgaida.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 220px;
    display: block;
    float: left;
    width: 220px;
    height: 80px;
}

.header-content {
    margin: 0 auto;
    max-width: widthMax;
}

.sub-header {
    background-color: colorPrimary;
    // box-shadow: 0 2px 6px rgba(30, 33, 94, 0.15);
    color: colorTextInverse;
    //height: 3rem;
    position: fixed;
    top: 80px;
    width:100%;
    z-index: 100;
}
