h1 {
    color: colorPrimary;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}