p {
    color: #afb9bb;
    font-size: 0.8rem;
    margin: 0;
}

code, code.inverse {
    background: white;
    border-radius: 0.3rem;
    color: codeColor;
    font-family: 'Bree Serif', serif;
    font-size: 0.9rem;
    padding: 0.1rem 0.4rem 0.3rem 0.4rem;
}