.path__content
  .card
    margin-bottom 20px
// Needed because we wrap the cards in <Link> components which overwrites text with link colors
a.card,
a > .card
    color $textColor

/*.connected,
.connected--secondary
  &:after
    content: ""
    position: absolute
    display: block
    bottom: -4px
    left: "calc(%s / 4)" % $widthMax
    margin-left: -5px
    width: 11px
    height: 25px
    opacity 0.5
    background: colorPrimary
  &:last-child:after
    height 0px
    
.connected--secondary
  &:after
    background: colorSecondary
*/
.card__header
  padding 15px 25px

.card__content,
.card__footer
  padding 20px 25px

// Add margin to LinkCards on Dashboard
.item-list
  .link-card
    margin-bottom 30px