.modal
    position:fixed
    background-color:rgba(0,0,0,0.8)
    top:0px
    left:0px
    height:100%
    width:100%

.modal-container 
    position: fixed
    background-color:#fff
    border: 1px solid #000
    width: 70%
    max-width:400px
    left:50%
    padding:20px
    border-radius:5px
}