// style for our main card component
.panel {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 20px;

    &__header {
        padding: 10px 15px;
        border-radius: 6px 6px 0 0;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

    &__body {
        padding: 5px 15px;
        min-height: 125px;
    }

    &__footer {
        align-self: flex-end;
        padding-right: 10px;
        font-weight: bold;
        color: #007399;
    }
}
