// style for our main card component
.panel {
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 20px;

    &__header {
        padding: 10px 15px;
        border-radius: 6px 6px 0 0;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

    &__body {
        padding: 5px 15px 50px;
    }
}
