.border-radius-150
  border-radius: 150
  background-size: cover;
  display: block;

.border-none
  border: none !important
  
.border-1px
  border-width: 1px
  border-style: solid

.border-subtle
  border 1px solid rgba(0,0,0,0.1)

.border-circle
  border-radius 50% !important

.border-straight
  border-radius: 0 !important

.border-round
  border-radius: $borderRadius

.border-round-top
  border-radius: $borderRadius $borderRadius 0 0

.border-round-bottom
  border-radius: 0 0 $borderRadius $borderRadius 

.border-round-left
  border-radius: $borderRadius 0 0 $borderRadius 

.border-round-left
  border-radius: 0 $borderRadius $borderRadius 0

.border-pill
  border-radius 999px