.flex-none
  flex: none

.flex
  display: flex

.flex-column
  display: flex
  flex-direction: column

.flex-column-reverse
  display: flex
  flex-direction: column-reverse

.flex-wrap
  flex-wrap: wrap

.flex-wrap-reverse
  flex-wrap: wrap-reverse

.items-start
  align-items: flex-start

.items-center
  align-items: center

.items-end
  align-items: flex-end

.items-stretch
  align-items: stretch

.items-baseline
  align-items: baseline

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end

.justify-between
  justify-content: space-between

.justify-around
  justify-content: space-around

.content-start
  align-content: flex-start

.content-end
  align-content: flex-end

.content-center
  align-content: center

.content-between
  align-content: space-between

.content-around
  align-content: space-around

.content-stretch
  align-content: stretch

.flex-0
  flex: 0

.flex-1
  flex: 1

.flex-2
  flex: 2

.flex-3
  flex: 3