.cursor-pointer
  cursor pointer

.pointer-events-none
  pointer-events: none

.list-style-none
  list-style: none

.bg-cover
  background-size: cover

.overflow-hidden
  overflow: hidden

.transition-fast
  transition: all 0.3s