.absolute
  position absolute !important

.relative
  position relative !important

.fixed
  position fixed !important

.z-999
  z-index: 999

.z-100
  z-index: 100

.abs-center
  position absolute
  top 50%
  left 50%
  transform: translate(-50%, -50%)

.abs-center-stretch
  position absolute
  top 0
  bottom 0
  left 0
  right 0

.abs-top
  position absolute
  top 0

.abs-left
  position absolute
  left 0

.abs-right
  position absolute
  right 0

.abs-bottom
  position absolute
  bottom 0

.abs-top-left
  position absolute
  top 0
  left 0

.abs-top-right
  position absolute
  top 0
  right 0

.abs-bottom-left
  position absolute
  bottom 0
  left 0

.abs-bottom-right
  position absolute
  bottom 0
  right 0