createShadows(steps, cNames, cVals)
  for step in steps
    for cName, i in cNames
      .shadow-bottom-{cName}-{step}
        box-shadow: 0px 1px * step cVals[i]
      .shadow-top-{cName}-{step}
        box-shadow: 0px -1px * step cVals[i]
      .shadow-left-{cName}-{step}
        box-shadow: -1px * step 0px cVals[i]
      .shadow-right-{cName}-{step}
        box-shadow: 1px * step 0px cVals[i]

createShadows($shadowSteps, $colorNames, $colorValues )