createResponsiveText(bNames, bValues)
    for bName, i in bNames
      @media only screen and (max-width: bValues[i])
        .h0-below-{bNames[i]}
          font-size: "calc(%s * %s * %s * %s * %s * %s)" % ($fontSize $headingScale $headingScale $headingScale $headingScale $headingScale)
          line-height: 1.2
          letter-spacing: $headingLetterSpacing

        .h1-below-{bNames[i]}
          font-size: "calc(%s * %s * %s * %s * %s)" % ($fontSize $headingScale $headingScale $headingScale $headingScale)
          line-height: 1.2
          letter-spacing: $headingLetterSpacing

        .h2-below-{bNames[i]}
          font-size: "calc(%s * %s * %s * %s)" % ($fontSize $headingScale $headingScale $headingScale)
          line-height: 1.25
          letter-spacing: $headingLetterSpacing

        .h3-below-{bNames[i]}
          font-size: "calc(%s * %s * %s)" % ($fontSize $headingScale $headingScale)
          line-height: 1.3
          letter-spacing: $headingLetterSpacing

        .h4-below-{bNames[i]}
          font-size: "calc(%s * %s)" % ($fontSize $headingScale)
          letter-spacing: -.08rem
          line-height: 1.35
        
        .h5-below-{bNames[i]}
          font-size: "calc(%s)" % ($fontSize)
          letter-spacing: -.05rem
          line-height: 1.4

        .h6-below-{bNames[i]}
          font-size: "calc(%s / %s)" % ($fontSize $headingScale)
          letter-spacing: 0
          line-height: 1.45

      @media only screen and (min-width: bValues[i])
        .h0-above-{bNames[i]}
          font-size: "calc(%s * %s * %s * %s * %s * %s)" % ($fontSize $headingScale $headingScale $headingScale $headingScale $headingScale)
          line-height: 1.2
          letter-spacing: $headingLetterSpacing

        .h1-above-{bNames[i]}
          font-size: "calc(%s * %s * %s * %s * %s)" % ($fontSize $headingScale $headingScale $headingScale $headingScale)
          line-height: 1.2
          letter-spacing: $headingLetterSpacing

        .h2-above-{bNames[i]}
          font-size: "calc(%s * %s * %s * %s)" % ($fontSize $headingScale $headingScale $headingScale)
          line-height: 1.25
          letter-spacing: $headingLetterSpacing

        .h3-above-{bNames[i]}
          font-size: "calc(%s * %s * %s)" % ($fontSize $headingScale $headingScale)
          line-height: 1.3
          letter-spacing: $headingLetterSpacing

        .h4-above-{bNames[i]}
          font-size: "calc(%s * %s)" % ($fontSize $headingScale)
          letter-spacing: -.08rem
          line-height: 1.35
        
        .h5-above-{bNames[i]}
          font-size: "calc(%s)" % ($fontSize)
          letter-spacing: -.05rem
          line-height: 1.4

        .h6-above-{bNames[i]}
          font-size: "calc(%s / %s)" % ($fontSize $headingScale)
          letter-spacing: 0
          line-height: 1.45


createResponsiveText($breakpointNames, $breakpointValues)

.bold
  font-weight: 700

.medium
  font-weight: 500

.normal, .regular
  font-weight: 400

.light
  font-weight: 300

.thin
  font-weight: 100

.uppercase
  text-transform: uppercase

.lowercase
  text-transform: lowercase

.left
  text-align: left

.center
  text-align: center

.right
  text-align: right

.wide
  letter-spacing: .3rem

.wider
  letter-spacing: .5rem

.italic
  font-style: italic
