.bold
  font-weight: 700

.medium
  font-weight: 500

.normal, .regular
  font-weight: 400

.light
  font-weight: 300

.thin
  font-weight: 100

.uppercase
  text-transform: uppercase

.lowercase
  text-transform: lowercase

.left
  text-align: left

.center
  text-align: center

.right
  text-align: right

.wide
  letter-spacing: .3rem

.wider
  letter-spacing: .5rem

.italic
  font-style: italic
